@charset "UTF-8";

/* configurações em paisagem*/

body {
    background-image: url(imagens/cev-landscape.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
}