@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    border: 0px;
}

@font-face {
    font-family: 'passion';
    src: url('fontes/PassionOne-Bold.ttf.ttf') format('truetype');
}

@font-face {
    font-family: 'siri';
    src: url('fontes/Sriracha-Regular.ttf') format('truetype');
}

:root {
    --fonte-padrao: 'siri', cursive;
    --fonte-h1: 'Passion', cursive;
    --fonte-nome: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: rgb(255, 255, 255);
}

header {
    background-color: rgb(0, 0, 0);
    color: white;
    text-align: center;
    padding: 30px;
}

h1 {
    font-family: var(--fonte-h1);
    padding-bottom: 10px;
    font-size: 8vw;
    font-variant: small-caps;
}

header > p {
    font-family: var(--fonte-nome);
}

p.p1 {
    font-family: var(--fonte-padrao);
    font-weight: bold;
    font-size: 50px;
    width: 40vw;
    margin: 50px auto 20px 60px;
}

.imagem1{
    background-image: url(imagens/background001.jpg);
    background-repeat: no-repeat;
    background-position:  center bottom;
    background-size: cover;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
}

.p2 {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.212), #052f0509);
    color: rgba(255, 255, 255, 0.882);
    font-family: var(--fonte-padrao);
    font-weight: bold;
    font-size: 50px;
    height: 50vh;
    width: 40vw;
    margin-left: 60px;
    padding-top: 50px;
    padding-bottom: 20px;

}

.p3 {
    font-family: var(--fonte-padrao);
    font-weight: bold;
    height: 700px;
    font-size: 50px;
    width: 500px;
    margin-left: 60px;
    padding-top: 50px;
    padding-bottom: 20px;
}

.p4 {
    font-family: var(--fonte-padrao);
    font-weight: bold;
    height: 750px;
    font-size: 50px;
    width: 500px;
    margin-left: 60px;
    padding-top: 50px;
    padding-bottom: 20px;
}

.imagem2 {
    background-image: url(imagens/background002.jpg);
    background-position: left top;
    background-attachment: fixed;
    height: 800px;
}

.p5 {
    font-family: var(--fonte-padrao);
    font-weight: bold;
    height: 750px;
    font-size: 50px;
    width: 500px;
    margin-left: 60px;
    padding-top: 50px;
    padding-bottom: 20px;
}

.p6 {
    font-family: var(--fonte-padrao);
    font-weight: bold;
    height: 700px;
    font-size: 50px;
    width: 500px;
    margin-left: 60px;
    padding-top: 50px;
    padding-bottom: 20px;
}

.p7 {
    font-family: var(--fonte-padrao);
    font-weight: bold;
    height: 750px;
    font-size: 50px;
    width: 500px;
    margin-left: 60px;
    margin-bottom: 130px;
    padding-top: 50px;
    padding-bottom: 20px;
}

footer {
    font-family: var(--fonte-nome);
}

footer > p {
    color: rgb(201, 189, 189);
    background-color: rgb(0, 0, 0);
    text-align: center;
    padding: 10px;
}

footer a {
    text-decoration: none;
    color: white;
    font-weight: 800;
}

footer a:hover {
    text-decoration: underline;
    color: white;
}